body {
	background-color: #dddddd;
}

#app-container {
	width: 1016px;
	height: 642px;
	margin: auto;
	-webkit-transition: width .3s;
    transition: width .3s;
}

#app-container.expanded {
	width: 1280px;
}

#app-body {
	width: 1000px;
	float: left;
}

#canvas-container {
	position: relative;
	width: 1000px;
	height: 600px;
}

#delmsg {
	cursor: pointer;
	font-weight: bold;
}

#delmsg:hover {
	background: LightGrey;
}

#positioner {
	position: absolute;
	width: 1px;
	height: 24px;
	float: left;
	visibility: hidden;
}

#panel-canvas {
	background-color: white;
	display: block;
}

#message-bar {
	/* The right-side padding is used to create empty space for the button bar.
	 * The value should be something around the sum of:
	 * - Width of the button group
	 * - The right margin of the button group 
	 * - The margin between the send button and the button group ()
	 */
	padding: 4px 162px 4px 4px;
	margin-top: 0;
	border-radius: 0 0 0 5px;
}

#message-bar-buttons {
	float: right;
	margin-right: -154px; /* Should be the message-bar right padding MINUS the button group right margin. */
}

#message-bar-buttons > .btn {
	width: 36px;			/* btn_width */
}

.color-preview {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	margin-left: -2px;
}

.user-options:hover {
	background: LightGrey;
	cursor: pointer;
}

.nav-tabs {
	margin: 8px 6px 0 6px;
}

.modal-body {
	margin: 12px 20px 0;
}

.modal-footer {
	margin: 0 6px;
}
